.container {
  width: Min(50rem, 90%);
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
}

.elipsis {
  display: block;
  display: -webkit-box;
  font-size: 22px;
  line-height: 1.5;
  max-height: 132px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.elipsis p {
  margin: 0;
}
/*# sourceMappingURL=estilos.css.map */