@mixin ellipsis-multiline(
  $font-size,
  $line-height,
  $lines-to-show,
  $margin: "0"
) {
  $height-calc: $font-size * $line-height * $lines-to-show;
  display: block;
  display: -webkit-box;
  font-size: $font-size * 1px;
  line-height: $line-height;
  max-height: ($height-calc + $margin) * 1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
}

.container {
  //SASS tiene sus propias funciones min(), max() y clamp() que no permiten usar dos medidas diferentes, en este caso píxels y porcentajes. Para salvar esto y poder usar las funciones nativas de CSS se ponen en mayúscula, puesto que SASS es case-sensitive, pero CSS no.
  width: Min(50rem, 90%);
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica, 'Helvetica Neue', sans-serif;
}
.elipsis {
  p {
    margin: 0;
  }
  @include ellipsis-multiline(22, 1.5, 4, 0);
}
